<div class="container">
  <% if flash.any? %>
    <div class="alert alert-info"><%= flash.notice %></div>
  <% end %>

  <div class="header-article">
    <h2><%= @article.title %></h2>
    <%= link_to edit_article_path(@article) do %>
      <span class="icon"><i class="fa-solid fa-pencil"></i></span>
    <% end %>
    <%= link_to(article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do %>
      <span class="icon"><i class="fa-regular fa-trash-can"></i></span>
    <% end %>
  </div>
  <hr>
  <p class="text-article"><%= @article.content %></p>

  <%= link_to(articles_path, class: "link-back") do %>
    <i class="fa-regular fa-circle-left"></i> Back
  <% end %>
</div>
